/******************************
 * File: estilos.css          *
 * Author: Eduardo Alveo      *
 * Last Modified: 11-Apr-2021 *
 ******************************/
*, *::before, *::after {
  box-sizing: border-box;
}

body, .btn-menu, ul, a, span, p, li, h1, h2, h3, h4, h5, h6, header, main, section, footer, div, aside, article, nav {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: inherit;
  outline: none;
}

/* Body Styles */
body {
  font-family: Liberation Sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

/* Global Configuration */
.list {
  padding: 5px 5px 5px 20px;
  clear: both;
}
.list__item {
  padding: 2px;
}
.list__item--bold {
  font-weight: 600;
}

/* Header Styles */
.btn-menu {
  background-color: #485a6c;
  cursor: pointer;
  padding: 8px;
}
.btn-menu__icon {
  background-color: white;
  display: block;
  height: 3px;
  margin-top: 4px;
  width: 20px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0e141f;
  color: white;
}
.header__title {
  font-size: 1.6em;
  padding: 0 12px;
}

.menu {
  align-items: normal;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: normal;
  background-color: #485a6c;
}
.menu__item {
  text-transform: uppercase;
}
.menu__link {
  display: block;
  padding: 12px;
}
.menu__link--active {
  background-color: #273445;
}
.menu__link:hover {
  background-color: #667885;
}

.navbar {
  width: 100%;
}
.navbar--hide {
  display: none;
}

/* Content Styles */
.card {
  align-items: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card--projectP1 {
  grid-area: projectP1;
}
.card--projectP2 {
  grid-area: projectP2;
}
.card--projectP3 {
  grid-area: projectP3;
}
.card--tool-browser {
  grid-area: browserTool;
}
.card--tool-desktop {
  grid-area: desktopTool;
}
.card--tool-os {
  grid-area: osTool;
}
.card--tool-ide {
  grid-area: ideTool;
}
.card__description {
  padding: 5px 0;
  text-align: justify;
  width: 100%;
}
.card__description--project {
  text-align: center;
}
.card__image {
  height: auto;
  width: 90%;
}
.card__link {
  color: #667885;
}
.card__link:hover {
  color: #273445;
}
.card__link--go {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 48%;
}
.card__link--go-hide {
  visibility: hidden;
}
.card__picture-box {
  text-align: center;
}
.card__title {
  color: #273445;
  font-size: 1.2em;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.container-cv, .container-main {
  display: grid;
  gap: 10px;
  grid-template: "presentation" "skills" "education" "experience";
  margin: 1em auto;
  width: 90%;
}

.container-main {
  gap: 20px;
  grid-template: "presentation" "projectTitle" "projectP1" "projectP2" "projectP3" "toolTitle" "osTool" "desktopTool" "ideTool" "browserTool";
}

.presentation {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: presentation;
}
.presentation__description {
  padding: 5px;
}
.presentation__image {
  border: 6px solid #273445;
  border-radius: 100%;
  width: 14em;
}
.presentation__picture {
  text-align: right;
}
.presentation__title {
  color: #0e141f;
  font-size: 1.8em;
  padding: 0 0 6px;
  text-align: center;
  width: 100%;
}

.section-skills {
  grid-area: skills;
}
.section-education {
  grid-area: education;
}
.section-experience {
  grid-area: experience;
}
.section-title--projects {
  grid-area: projectTitle;
}
.section-title--tools {
  grid-area: toolTitle;
}
.section__title {
  color: #0e141f;
  font-size: 1.6em;
  font-weight: 600;
  padding: 8px 0;
}
.section__subtitle {
  color: #273445;
  font-size: 1.2em;
  padding: 5px 0;
}
.section__subtitle--date {
  float: right;
}

/* Footer Styles */
.footer {
  align-items: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #485a6c;
  color: white;
  padding: 10px 0;
}
.footer__link {
  background-color: #667885;
  border-radius: 6px;
  color: white;
  display: block;
  padding: 10px;
}
.footer__link:hover, .footer__link:active {
  background-color: #95a3ab;
}
.footer__copy {
  text-align: center;
  padding: 10px 0 5px;
  width: 100%;
}

/* Responsive Design */
@media screen and (min-width: 600px) {
  .menu {
    flex-direction: row;
  }

  .container-cv {
    grid-template: "presentation presentation" "skills       education" "skills       experience"/1fr 2fr;
  }

  .container-main {
    grid-template: "presentation presentation" "projectTitle projectTitle" "projectP1    projectP2" "projectP3    ." "toolTitle    toolTitle" "osTool       desktopTool" "ideTool      browserTool";
  }

  .section-skills {
    background-color: #F1F1F0;
    border: 1px solid #BABDB6;
    padding: 5px 0 6px 6px;
  }
}
@media screen and (min-width: 900px) {
  .container-cv {
    grid-template: "presentation presentation" "skills       education" "skills       experience"/auto 2fr;
  }

  .container-main {
    grid-template: "presentation presentation presentation" "projectTitle projectTitle projectTitle" "projectP1    projectP2    projectP3" "toolTitle    toolTitle    toolTitle" "osTool       desktopTool  ideTool" "browserTool  .            .";
  }
}
