/******************************
 * File: estilos.css          *
 * Author: Eduardo Alveo      *
 * Last Modified: 16-Feb-2021 *
 ******************************/
*{
  box-sizing:border-box;
  /*border:1px solid red;*/
}

/* Reset Styles */
body, header, main, footer, div, article, section, nav, aside,
h1, h2, h3, h4, h5, h6,
ul, li, p,
a, span, button{
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
}

a{
  color:inherit;
  text-decoration:none;
  outline:none;
}

button{
  background-color:transparent;
  border:none;
  color:inherit;
  outline:none;
}

/* General Styles */
body{
  color:#2E3436;
  font-family:Liberation Sans, Arial, sans-serif;
  font-size:13px;
  letter-spacing:1px;
}

.list{
  padding:5px 5px 5px 20px;
  clear:both;
}
.list__item{
  padding:2px;
}
.list__item--bold{
  font-weight:600;
}

/* Header Styles */
.btn-menu{
  background-color:#3465A4;
  cursor:pointer;
  padding:6px;
}
.btn-menu__icon{
  background-color:white;
  display:block;
  height:3px;
  margin-top:4px;
  width:20px;
}

.header{
  background-color:#204A87;
  color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  position:sticky;
  top:0;
}
.header__title{
  font-size:1.6em;
  padding:6px 10px;
}

.menu{
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content:space-between;
  width:100%;
}
.menu--hide{
  display:none;
}
.menu__link{
  background-color:#3465A4;
  border-top:1px solid #3465A4;
  display:block;
  /*padding:10px 10px;*/
  padding:12px;
  text-transform:capitalize;
}
.menu__link--active, .menu__link:hover, .menu__link:active, .btn-menu:hover{
  background-color:#729FCF;
}

/* Content styles */
.card{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.card--projectP1{
  grid-area:projectP1;
}
.card--projectP2{
  grid-area:projectP2;
}
.card--projectP3{
  grid-area:projectP3;
}
.card--tool-browser{
  grid-area:browserTool;
}
.card--tool-desktop{
  grid-area:desktopTool;
}
.card--tool-os{
  grid-area:osTool;
}
.card--tool-ide{
  grid-area:ideTool;
}
.card__description{
  padding:5px 0;
  text-align:justify;
  width:100%;
}
.card__description--project{
  text-align:center;
}
.card__image{
  height:auto;
  width:90%;
}
.card__link{
  color:#436598;
}
.card__link:hover{
  color:#1A3E74;
}
.card__link--go{
  display:inline-block;
  font-weight:600;
  text-align:center;
  text-transform:uppercase;
  width:48%;
}
.card__link--go-hide{
  visibility:hidden;
}
.card__picture-box{
  text-align:center;
}
.card__title{
  color:#204A87;
  font-size:1.20em;
  padding:5px 0;
  text-align:center;
  width:100%;
}

.container-cv{
  display:grid;
  grid-gap:10px;
  grid-template:"presentation"
                "skills"
                "education"
                "experience";
  margin:1em auto;
  width:90%;
}
.container-main{
  display:grid;
  grid-gap:20px;
  grid-template:"presentation"
                "projectTitle"
                "projectP1"
                "projectP2"
                "projectP3"
                "toolTitle"
                "osTool"
                "desktopTool"
                "ideTool"
                "browserTool";
  margin:1em auto;
  width:90%;
}

.presentation{
  align-items:center;
  display:flex;
  flex-wrap:wrap;
  grid-area:presentation;
  justify-content:center;
}
.presentation__description{
  padding:5px;
}
.presentation__image{
  border:6px solid #204A87;
  border-radius:100%;
  width:14em;
}
.presentation__picture{
  text-align:right;
}
.presentation__title{
  color:#204A87;
  font-size:1.8em;
  padding:0 0 6px;
  text-align:center;
  width:100%;
}

.section-skills{
  grid-area:skills;
}
.section-education{
  grid-area:education;
}
.section-experience{
  grid-area:experience;
}
.section-title--projects{
  grid-area:projectTitle;
}
.section-title--tools{
  grid-area:toolTitle;
}

.section__title{
  color:#204A87;
  font-size:1.6em;
  font-weight:600;
  padding:8px 0;
}
.section__subtitle{
  color:#3465A4;
  font-size:1.2em;
  padding:5px 0;
}
.section__subtitle--date{
  float:right;
}

/* Footer Styles */
.footer{
  background-color:#204A87;
  color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding:10px 0;
}

.footer__link{
  background-color:#3465A4;
  border-radius:6px;
  color:white;
  display:block;
  padding:10px;
}
.footer__link:hover, .footer__link:active{
  background-color:#729FCF;
}
.footer__copy{
  text-align:center;
  padding:10px 0 5px;
  width:100%;
}

@media screen and (min-width:600px){
  .container-cv{
    grid-template:"presentation presentation"
                  "skills       education"
                  "skills       experience" /
                  1fr           2fr;
  }
  .container-main{
    grid-template:"presentation presentation"
                  "projectTitle projectTitle"
                  "projectP1    projectP2"
                  "projectP3    ."
                  "toolTitle    toolTitle"
                  "osTool       desktopTool"
                  "ideTool      browserTool";
  }
  .section-skills{
    background-color:#F1F1F0;
    border:1px solid #BABDB6;
    padding:5px 0 6px 6px;
  }
}

@media screen and (min-width:900px){
  .container-cv{
    grid-template:"presentation presentation"
                  "skills       education"
                  "skills       experience" /
                  auto           2fr;
  }
  .container-main{
    grid-template:"presentation presentation presentation"
                  "projectTitle projectTitle projectTitle"
                  "projectP1    projectP2    projectP3"
                  "toolTitle    toolTitle    toolTitle"
                  "osTool       desktopTool  ideTool"
                  "browserTool  .            .";
  }
}
