/*********************************
 * Archivo: estilos.css          *
 * Autor: Eduardo Alveo          *
 * Fecha-Modificado: 31-Dic-2020 *
 *********************************/
*{
  box-sizing:border-box;
}

/* Reiniciando estilos */
body, header, main, footer,
div, nav,
h1, h2, h3, h4, h5, h6,
p, ul, li,
span, a,
form, input, label, button{
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  outline:none;
  padding:0;
  text-decoration:none;
}

/* Configuración General */
body{
  font-family:Liberation Sans, Arial, sans-serif;
  font-size:0.875em;
  line-height:1.3;
}

header, main, footer{
  width:100%;
}

/* Configuración de la cabecera web */
.boton{
  background-color:transparent;
  cursor:pointer;
  padding:10px;
}
.boton-menu{
  background-color:#2C6B99;
}
.botonIcono{
  background-color:white;
  display:block;
  height:3px;
  margin-top:4px;
  width:20px;
}

.cabecera{
  background-color:#395C92;
  color:white;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}
.cabeceraTitulo{
  font-size:1.6em;
  padding:8px 10px;
}

.menu{
  display:flex;
}
.menu-vertical{
  flex-direction:column;
  width:100%;
}
.menu-verticalOculto{
  display:none;
}
.menuEnlace{
  color:inherit;
  display:block;
  padding:13px;
  text-transform:uppercase;
}
.menuEnlace-activo, .menuEnlace:hover, .boton-menu:hover{
  background-color:#2F81D3;
}

/* Configuración del contenido web */
.info{
  padding:0 8px;
}
.infoEncabezado{
  font-size:1.8em;
  padding:5px 0;
  text-align:center;
}
.infoParrafo{
  font-weight:600;
  padding:5px 0;
}

.lista{
  padding:0 16px;
}
.listaItem{
  text-align:justify;
}
.listaResaltado{
  font-weight:600;
}

.panel{
  text-align:center;
  width:90%;
}
.panelLeyenda{
  padding:6px 0;
  text-align:justify;
}
.panelTitulo{
  font-size:1.2em;
  padding:6px 0;
}

.seccion{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding:1em;
}
.seccion-pie{
  justify-content:center;
}
.seccionEnlace{
  color:#395C92;
}
.seccionEnlace-panel:hover{
  color:#213A61;
}
.seccionEnlace-pie{
  color:inherit;
  display:block;
  padding:6px 10px;
}
.seccionParrafo-pie{
  padding:0;
  text-align:center;
  width:100%;
}
.seccionTitulo{
  font-size:1.4em;
  width:100%;
}

.tarjeta{
  display:flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content:space-around;
}
.tarjetaImagen{
  border:4px solid #395C92;
  border-radius:100%;
  width:14em;
}

/* Configuración del pie de página */
.piePagina{
  background-color:#395C92;
  color:white;
}

/* Configuraciones Media Query */
@media screen and (min-width:500px){
  .panel{
    width:40%;
    margin-right:1em;
  }
}

@media screen and (min-width:900px){
  .panel{
    width:20%;
  }
}
