/******************************
 * File: estilos.css          *
 * Author: Eduardo Alveo      *
 * Last Modified: 16-Feb-2021 *
 ******************************/
*{
  box-sizing:border-box;
}

/* Reset Styles */
body, header, main, footer, div, section, article, aside, nav,
h1, h2, h3, h4, h5, h6,
p, ul, li,
a, span, img,
button{
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
}

a{
  color:inherit;
  text-decoration:none;
  outline:none;
}

button{
  background-color:transparent;
  border:none;
  color:inherit;
  outline:none;
}

body{
  color:#2E3436;
  display:grid;
  font-family:Liberation Sans, Arial, sans-serif;
  font-size:13px;
  grid-gap:10px;
  grid-template:"header header  header"
                ".      sectionA ."
                ".      sectionB ."
                ".      sectionC ."
                "footer footer  footer";
  letter-spacing:1px;
}

.list{
  padding:5px 5px 5px 20px;
  clear:both;
}
.list__item{
  padding:2px;
}
.list__item--bold{
  font-weight:600;
}

/* header configuration */
.btn-menu{
  background-color:#729FCF;
  cursor:pointer;
  padding:6px;
}
.btn-menu__icon{
  background-color:white;
  display:block;
  height:3px;
  margin-top:4px;
  width:20px;
}

.header{
  background-color:#204A87;
  color:white;
  display:flex;
  flex-wrap:wrap;
  grid-area:header;
  justify-content:space-between;
  position:sticky;
  top:0;
}
.header__title{
  font-size:1.6em;
  padding:6px 10px;
}

.menu{
  display:flex;
  flex-direction:column;
  width:100%;
}
.menu--hide{
  display:none;
}
.menu__link{
  display:block;
  padding:12px;
  text-transform:capitalize;
  border-top:1px solid #204A87;
}
.menu__link--active, .menu__link:hover, .btn-menu:hover{
  background-color:#2F81D3;
}

/* Content Configuration */
.card{
  display:flex;
  flex-direction:column;
}
.card--desktop{
  grid-area:desktop;
}
.card--internetBrowser{
  grid-area:internetBrowser;
}
.card--os{
  grid-area:os;
}
.card--projectA{
  grid-area:projectA;
}
.card--projectB{
  grid-area:projectB;
}
.card--projectC{
  grid-area:projectC;
}
.card--textEditor{
  grid-area:textEditor;
}
.card__description{
  margin:0 auto;
  padding:5px 0;
  text-align:justify;
  width:95%
}
.card__image{
  padding:2px;
}
.card__image--project{
  border:1px solid #204A87;
  width:90%;
}
.card__link{
  color:#3465A4;
}
.card__link:hover, .card__link:active{
  color:#204A87;
}
.card__link--projects{
  display:inline-block;
  text-align:center;
  text-transform:uppercase;
  width:49%;
}
.card__picture-box{
  text-align:center;
}
.card__title{
  font-size:1.20em;
  padding:5px 0;
  text-align:center;
}

.container{
  display:grid;
  grid-gap:10px;
}
.container--presentation{
  grid-area:sectionA;
  grid-template:"title"
                "picture"
                "description" /
                auto;
}
.container--projects{
  grid-area:sectionB;
  grid-template:"title"
                "projectA"
                "projectB"
                "projectC" /
                1fr;
}
.container--tools{
  grid-area:sectionC;
  grid-template:"title"
                "os"
                "desktop"
                "textEditor"
                "internetBrowser";
}
.container__description{
  grid-area:description;
}
.container__description-tag{
  font-weight:600;
}
.container__picture{
  grid-area:picture;
  text-align:center;
}
.container__picture-image{
  border:6px solid #204A87;
  border-radius:100%;
  width:14em;
}
.container__title{
  font-size:1.8em;
  grid-area:title;
  text-align:center;
}
.container__title--section{
  font-size:1.5em;
  text-align:left;
}

/* footer configuration */
.footer{
  background-color:#204A87;
  color:white;
  grid-area:footer;
}
.footer-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.footer__legal{
  padding:10px 0;
  text-align:center;
  width:100%;
}
.footer__link{
  background-color:#3465A4;
  border-radius:6px;
  display:block;
  margin:10px 2em;
  padding:10px;
}
.footer__link:hover, .footer__link:active{
  background-color:#729FCF;
}

@media screen and (min-width:500px){
  .container--presentation{
    grid-template:"title title"
                  "picture description" /
                  auto;
  }
  .container--projects{
    grid-template:"title    title"
                  "projectA projectB"
                  "projectC ." /
                  1fr       1fr;
  }
  .container--tools{
    grid-template:"title      title"
                  "os         desktop "
                  "textEditor internetBrowser" /
                  1fr         1fr;
  }
  .container__picture{
    text-align:right;
  }
}

@media screen and (min-width:800px){
  .container--projects{
    grid-template:"title title    title    title    title"
                  ".     projectA projectB projectC ." /
                  1fr    auto     auto     auto     1fr;
  }
  .container--tools{
    grid-template:"title title   title      title"
                  "os    desktop textEditor internetBrowser" /
                  1fr    1fr     1fr        1fr;
  }
}
