// ******************************
// * File: _content.scss        *
// * Author: Eduardo Alveo      *
// * Last Modified: 11-Apr-2021 *
// ******************************

@use 'variables' as colors;
@use 'mixins' as ctflex;

/* Content Styles */
.card{
  @include ctflex.containerFlex(row, space-around, wrap, normal);

  &--projectP1{
    grid-area: projectP1;
  }
  &--projectP2{
    grid-area: projectP2;
  }
  &--projectP3{
    grid-area: projectP3;
  }
  &--tool-browser{
    grid-area: browserTool;
  }
  &--tool-desktop{
    grid-area: desktopTool;
  }
  &--tool-os{
    grid-area: osTool;
  }
  &--tool-ide{
    grid-area: ideTool;
  }
  &__description{
    padding: 5px 0;
    text-align: justify;
    width: 100%;
  }
  &__description--project{
    text-align: center;
  }
  &__image{
    height: auto;
    width: 90%;
  }
  &__link{
    color: colors.$colorPalette4;
  }
  &__link:hover{
    color: colors.$colorPalette2;
  }
  &__link--go{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 48%;
  }
  &__link--go-hide{
    visibility: hidden;
  }
  &__picture-box{
    text-align: center;
  }
  &__title{
    color: colors.$colorPalette2;
    font-size: 1.20em;
    padding: 5px 0;
    text-align: center;
    width: 100%;
  }
}

.container-cv{
  display: grid;
  gap: 10px;
  grid-template: "presentation"
                 "skills"
                 "education"
                 "experience";
  margin: 1em auto;
  width: 90%;
}

.container-main{
  @extend .container-cv;
  gap: 20px;
  grid-template: "presentation"
                 "projectTitle"
                 "projectP1"
                 "projectP2"
                 "projectP3"
                 "toolTitle"
                 "osTool"
                 "desktopTool"
                 "ideTool"
                 "browserTool";
}

.presentation{
  @include ctflex.containerFlex(row, center, wrap, center);
  grid-area: presentation;

  &__description{
    padding: 5px;
  }
  &__image{
    border: 6px solid colors.$colorPalette2;
    border-radius: 100%;
    width: 14em;
  }
  &__picture{
    text-align: right;
  }
  &__title{
    color: colors.$colorPalette1;
    font-size: 1.8em;
    padding: 0 0 6px;
    text-align: center;
    width: 100%;
  }
}

.section{
  &-skills{
    grid-area: skills;
  }
  &-education{
    grid-area: education;
  }
  &-experience{
    grid-area: experience;
  }
  &-title--projects{
    grid-area: projectTitle;
  }
  &-title--tools{
    grid-area: toolTitle;
  }
  &__title{
    color: colors.$colorPalette1;
    font-size: 1.6em;
    font-weight: 600;
    padding: 8px 0;
  }
  &__subtitle{
    color: colors.$colorPalette2;
    font-size: 1.2em;
    padding: 5px 0;
  }
  &__subtitle--date{
    float: right;
  }
}
