//******************************
//* File: _globals.scss        *
//* Author: Eduardo Alveo      *
//* Last Modified: 11-Apr-2021 *
//******************************

/* Body Styles */
body{
  font-family: Liberation Sans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
}

/* Global Configuration */
.list{
  padding: 5px 5px 5px 20px;
  clear: both;

  &__item{
    padding: 2px;
  }
  &__item--bold{
    font-weight: 600;
  }
}
