// ******************************
// * File: _variables.scss      *
// * Author: Eduardo Alveo      *
// * Last Modified: 11-Apr-2021 *
// ******************************

// Variables
$colorPalette1: #0e141f;
$colorPalette2: #273445;
$colorPalette3: #485a6c;
$colorPalette4: #667885;
$colorPalette5: #95a3ab;
$colorPalette6: white;